{% extends "base.html" %}


{% block content %}
<main class="main">
    <!-- promo primary start-->
    <section class="promo-primary">
        <div class="overlay"></div>
        <picture>
            <source srcset="/static/img/contacts.jpg" media="(min-width: 992px)"/><img class="jarallax-img img-bg" src="/static/img/contacts.jpg" alt="img"/>
        </picture>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="align-container">
                        <div class="align-item"><span>Orgone</span>
                            <h1 class="title">Frequently Asked Questions</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- promo primary end-->
    <!-- faq start-->
    <section class="section faq">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading primary-heading">
                        <h3 class="title">FAQ</h3>
                        <h5 class="subtitle"><span>Questions that</span> <span>Interest You</span></h5>
                        <p>Orgone accreditation standards. Members are proactive in both undertaking and applying animal welfare scientific research, contributing to EAZA being a</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- accordion item start-->
                    <div class="accordion-item accordion-item--with-shadow">
                        <div class="title-block">
                            <h4 class="title">How much does solar cost?</h4>
                            <svg class="icon">
                                <use xlink:href="#close"></use>
                            </svg>
                        </div>
                        <div class="content-block">
                            <p>Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin: herring, Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish; rohu yellow-and-black triplefin Atlantic saury swordfish southern sandfish</p>
                        </div>
                    </div>
                    <!-- accordion item end-->
                    <!-- accordion item start-->
                    <div class="accordion-item accordion-item--with-shadow">
                        <div class="title-block">
                            <h4 class="title">I would love to invest in solar, but I think my roof is too old. Am Iout of Luck?</h4>
                            <svg class="icon">
                                <use xlink:href="#close"></use>
                            </svg>
                        </div>
                        <div class="content-block">
                            <p>Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin: herring, Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish; rohu yellow-and-black triplefin Atlantic saury swordfish southern sandfish</p>
                        </div>
                    </div>
                    <!-- accordion item end-->
                    <!-- accordion item start-->
                    <div class="accordion-item accordion-item--with-shadow">
                        <div class="title-block">
                            <h4 class="title">What happens to solar panels when it rains or is cloudy?</h4>
                            <svg class="icon">
                                <use xlink:href="#close"></use>
                            </svg>
                        </div>
                        <div class="content-block">
                            <p>Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin: herring, Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish; rohu yellow-and-black triplefin Atlantic saury swordfish southern sandfish</p>
                        </div>
                    </div>
                    <!-- accordion item end-->
                    <!-- accordion item start-->
                    <div class="accordion-item accordion-item--with-shadow">
                        <div class="title-block">
                            <h4 class="title">What rebates are available for solar energy?</h4>
                            <svg class="icon">
                                <use xlink:href="#close"></use>
                            </svg>
                        </div>
                        <div class="content-block">
                            <p>Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin: herring, Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish; rohu yellow-and-black triplefin Atlantic saury swordfish southern sandfish</p>
                        </div>
                    </div>
                    <!-- accordion item end-->
                    <!-- accordion item start-->
                    <div class="accordion-item accordion-item--with-shadow">
                        <div class="title-block">
                            <h4 class="title">Would it make sense to go solar if we use most our energy at night?</h4>
                            <svg class="icon">
                                <use xlink:href="#close"></use>
                            </svg>
                        </div>
                        <div class="content-block">
                            <p>Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin: herring, Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish; rohu yellow-and-black triplefin Atlantic saury swordfish southern sandfish</p>
                        </div>
                    </div>
                    <!-- accordion item end-->
                </div>
            </div>
        </div>
    </section>
    <!-- faq end-->
    <!-- banner start-->
    <section class="section banner">
        <picture>
            <source srcset="/static/img/banner-bg.jpg" media="(min-width: 576px)"/><img class="img-bg" src="/static/img/banner-mobile.jpg" alt="banner"/>
        </picture>
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8 col-md-9">
                    <h1 class="title">New Technology by Orgone</h1>
                    <p>Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin: herring, Moses sole sea snail grouper discus. European</p><a class="button button--transparent" href="#" data-hover="Discover"><span>Discover</span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- banner end-->
    <!-- map section start-->
    <section class="section map-section">
        <!-- contact form start-->
        <form class="form js-contact-form contact--form" autocomplete="off" action="#">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title-block">
                            <h3 class="title">Get in <span>Touch</span></h3><span class="trigger">See Google Map</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="input-label">
                            <input class="form-field input input-name" type="text" name="name" required="required"/><span>Name</span>
                        </label>
                        <label class="input-label">
                            <input class="form-field input input-mail" type="email" name="email" required="required"/><span>Email</span>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="textarea-label">
                            <textarea class="form-field textarea" name="message"></textarea><span>Comment</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="button-holder">
                            <button class="button button--transparent" type="submit" data-hover="Send"><span>Send</span></button>
                            <div class="trigger-holder d-sm-none"><span class="trigger mobile-trigger">See Google Map</span></div>
                            <div class="form__note"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- contact form end-->
        <div class="map" id="map" data-api-key="AIzaSyD5ES8GFHrarPhIVpDhFDea6fPtga0Wy4Y" data-longitude="-9.141827" data-latitude="38.737749" data-marker="/static/img/placeholder.png"></div>
    </section>
    <!-- map section end-->
</main>
{% endblock content %}

