{% extends "base.html" %}


{% block content %}
<main class="main">
    <!-- promo primary start-->
    <section class="promo-primary">
        <div class="overlay"></div>
        <picture>
            <source srcset="/static/img/services-details.jpg" media="(min-width: 992px)"/><img class="jarallax-img img-bg" src="/static/img/services-details.jpg" alt="img"/>
        </picture>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="align-container">
                        <div class="align-item"><span>Orgone</span>
                            <h1 class="title">Windmills</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- promo primary end-->
    <!-- services details start-->
    <section class="section services-details">
        <!-- details tabs start-->
        <div class="tabs-holder details-tabs">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-4">
                        <!-- tabs header start-->
                        <div class="tabs-header"><span class="tabs-header__title">Solar Panel Installation</span><span class="tabs-header__title">Windmill Installation</span><span class="tabs-header__title">Global Energy Network</span><span class="tabs-header__title">Sun Energy Analitics</span><span class="tabs-header__title">Technological Power Lines</span><span class="tabs-header__title">Economical Lighting</span><span class="tabs-header__title">Support and Repair</span><span class="tabs-header__title">Recycling Excess Energy</span></div>
                        <!-- tabs header end-->
                        <!-- pdf holder start-->
                        <div class="pdf-holder" style="background-image: url('/static/img/pdf-bg.png');">
                            <h4 class="title">Clean Energy without CO2</h4>
                            <p>Streamer fish California halibut Pacific saury</p><a class="button button--black" href="#" data-hover="Download PDF"><span>Download PDF</span></a>
                        </div>
                        <!-- pdf holder end-->
                    </div>
                    <div class="col-xl-9 col-md-8">
                        <!-- tabs content start-->
                        <div class="tabs-content">
                            <!-- tabs content item start-->
                            <div class="tabs-content__item">
                                <div class="img-holder">
                                    <div class="overlay"></div>
                                    <picture>
                                        <source srcset="/static/img/details-img.jpg" media="(min-width: 992px)"/><img src="/static/img/details-img.jpg" alt="img"/>
                                    </picture>
                                </div>
                                <h2 class="title">Service Overview</h2>
                                <p>Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.</p>
                                <ul>
                                    <li>Streamer fish California halibut Pacif</li>
                                    <li>Slickhead grunion lake trout.</li>
                                    <li>Canthigaster rostrata spikefish</li>
                                    <li>Brown trout loach summer flounder</li>
                                    <li>European minnow black dragonfish</li>
                                    <li>Orbicular batfish stingray</li>
                                </ul>
                                <p>Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.</p>
                            </div>
                            <!-- tabs content item end-->
                        </div>
                        <!-- tabs content start-->
                        <div class="tabs-content">
                            <!-- tabs content item start-->
                            <div class="tabs-content__item">
                                <div class="img-holder">
                                    <div class="overlay"></div>
                                    <picture>
                                        <source srcset="/static/img/blog-bg-1.jpg" media="(min-width: 992px)"/><img src="/static/img/blog-bg-1.jpg" alt="img"/>
                                    </picture>
                                </div>
                                <h2 class="title">Service Overview</h2>
                                <p>Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.</p>
                                <ul>
                                    <li>Streamer fish California halibut Pacif</li>
                                    <li>Slickhead grunion lake trout.</li>
                                    <li>Canthigaster rostrata spikefish</li>
                                    <li>Brown trout loach summer flounder</li>
                                    <li>European minnow black dragonfish</li>
                                    <li>Orbicular batfish stingray</li>
                                </ul>
                                <p>Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.</p>
                            </div>
                            <!-- tabs content item end-->
                        </div>
                        <!-- tabs content start-->
                        <div class="tabs-content">
                            <!-- tabs content item start-->
                            <div class="tabs-content__item">
                                <div class="img-holder">
                                    <div class="overlay"></div>
                                    <picture>
                                        <source srcset="/static/img/blog-bg-2.jpg" media="(min-width: 992px)"/><img src="/static/img/blog-bg-2.jpg" alt="img"/>
                                    </picture>
                                </div>
                                <h2 class="title">Service Overview</h2>
                                <p>Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.</p>
                                <ul>
                                    <li>Streamer fish California halibut Pacif</li>
                                    <li>Slickhead grunion lake trout.</li>
                                    <li>Canthigaster rostrata spikefish</li>
                                    <li>Brown trout loach summer flounder</li>
                                    <li>European minnow black dragonfish</li>
                                    <li>Orbicular batfish stingray</li>
                                </ul>
                                <p>Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.</p>
                            </div>
                            <!-- tabs content item end-->
                        </div>
                        <!-- tabs content start-->
                        <div class="tabs-content">
                            <!-- tabs content item start-->
                            <div class="tabs-content__item">
                                <div class="img-holder">
                                    <div class="overlay"></div>
                                    <picture>
                                        <source srcset="/static/img/promo-2.jpg" media="(min-width: 992px)"/><img src="/static/img/promo-2.jpg" alt="img"/>
                                    </picture>
                                </div>
                                <h2 class="title">Service Overview</h2>
                                <p>Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.</p>
                                <ul>
                                    <li>Streamer fish California halibut Pacif</li>
                                    <li>Slickhead grunion lake trout.</li>
                                    <li>Canthigaster rostrata spikefish</li>
                                    <li>Brown trout loach summer flounder</li>
                                    <li>European minnow black dragonfish</li>
                                    <li>Orbicular batfish stingray</li>
                                </ul>
                                <p>Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.</p>
                            </div>
                            <!-- tabs content item end-->
                            <!-- tabs content item start-->
                            <div class="tabs-content__item">
                                <div class="img-holder">
                                    <div class="overlay"></div>
                                    <picture>
                                        <source srcset="/static/img/details-img.jpg" media="(min-width: 992px)"/><img src="/static/img/details-img.jpg" alt="img"/>
                                    </picture>
                                </div>
                                <h2 class="title">Service Overview</h2>
                                <p>Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.</p>
                                <ul>
                                    <li>Streamer fish California halibut Pacif</li>
                                    <li>Slickhead grunion lake trout.</li>
                                    <li>Canthigaster rostrata spikefish</li>
                                    <li>Brown trout loach summer flounder</li>
                                    <li>European minnow black dragonfish</li>
                                    <li>Orbicular batfish stingray</li>
                                </ul>
                                <p>Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.</p>
                            </div>
                            <!-- tabs content item end-->
                        </div>
                        <!-- tabs content start-->
                        <div class="tabs-content">
                            <!-- tabs content item start-->
                            <div class="tabs-content__item">
                                <div class="img-holder">
                                    <div class="overlay"></div>
                                    <picture>
                                        <source srcset="/static/img/blog-bg-1.jpg" media="(min-width: 992px)"/><img src="/static/img/blog-bg-1.jpg" alt="img"/>
                                    </picture>
                                </div>
                                <h2 class="title">Service Overview</h2>
                                <p>Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.</p>
                                <ul>
                                    <li>Streamer fish California halibut Pacif</li>
                                    <li>Slickhead grunion lake trout.</li>
                                    <li>Canthigaster rostrata spikefish</li>
                                    <li>Brown trout loach summer flounder</li>
                                    <li>European minnow black dragonfish</li>
                                    <li>Orbicular batfish stingray</li>
                                </ul>
                                <p>Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.</p>
                            </div>
                            <!-- tabs content item end-->
                        </div>
                        <!-- tabs content start-->
                        <div class="tabs-content">
                            <!-- tabs content item start-->
                            <div class="tabs-content__item">
                                <div class="img-holder">
                                    <div class="overlay"></div>
                                    <picture>
                                        <source srcset="/static/img/blog-bg-2.jpg" media="(min-width: 992px)"/><img src="/static/img/blog-bg-2.jpg" alt="img"/>
                                    </picture>
                                </div>
                                <h2 class="title">Service Overview</h2>
                                <p>Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.</p>
                                <ul>
                                    <li>Streamer fish California halibut Pacif</li>
                                    <li>Slickhead grunion lake trout.</li>
                                    <li>Canthigaster rostrata spikefish</li>
                                    <li>Brown trout loach summer flounder</li>
                                    <li>European minnow black dragonfish</li>
                                    <li>Orbicular batfish stingray</li>
                                </ul>
                                <p>Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.</p>
                            </div>
                            <!-- tabs content item end-->
                        </div>
                        <!-- tabs content start-->
                        <div class="tabs-content">
                            <!-- tabs content item start-->
                            <div class="tabs-content__item">
                                <div class="img-holder">
                                    <div class="overlay"></div>
                                    <picture>
                                        <source srcset="/static/img/promo-2.jpg" media="(min-width: 992px)"/><img src="/static/img/promo-2.jpg" alt="img"/>
                                    </picture>
                                </div>
                                <h2 class="title">Service Overview</h2>
                                <p>Anemonefish, bamboo shark jewfish medusafish, slickhead sand eel warbonnet." Sergeant major sailbearer, rough scad weever. Lemon shark--chimaera muskellunge angler catfish Kafue pike tapetail green swordtail, pelagic cod luderick freshwater hatchetfish huchen blacktip reef shark. Olive flounder handfish, Black swallower glassfish mustache triggerfish, sabertooth fish surgeonfish Atlantic eel sand eel trevally leopard danio: cusk-eel. Rough pomfret; Chinook salmon candlefish leaffish temperate bass starry flounder handfish, fusilier fish, "airbreathing catfish trumpetfish, gibberfish kelp perch." Slimehead round herring algae eater, eeltail catfish. Alfonsino jackfish gopher rockfish Owens pupfish smoothtongue lemon sole, treefish.</p>
                                <ul>
                                    <li>Streamer fish California halibut Pacif</li>
                                    <li>Slickhead grunion lake trout.</li>
                                    <li>Canthigaster rostrata spikefish</li>
                                    <li>Brown trout loach summer flounder</li>
                                    <li>European minnow black dragonfish</li>
                                    <li>Orbicular batfish stingray</li>
                                </ul>
                                <p>Garpike cardinalfish shortnose chimaera great white shark tadpole fish rice eel sole--bighead carp green swordtail yellowfin pike deep sea eel. Snubnose eel straptail basslet combfish chimaera beachsalmon blue eye Mexican golden trout mako shark tiger barb, "conger eel." Medusafish, catfish cownose ray torrent catfish, mola Siamese fighting fish! Round stingray; white croaker; righteye flounder, Antarctic icefish Blobfish, lake whitefish, hagfish yellow bass! Bluefin tuna coffinfish; alooh long-finned pike cavefish elephant fish electric ray aholehole gianttail loach chub ide orangespine unicorn fish. Ribbon eel tidewater goby lined sole swamp-eel hamlet pilot fish barred danio. Fathead sculpin blue whiting spookfish yellowtail clownfish barreleye, minnow African glass catfish char warmouth hairtail.</p>
                            </div>
                            <!-- tabs content item end-->
                        </div>
                        <!-- tabs content end-->
                        <!-- details tabs end  -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services details end-->
    <!-- pricing-inner start-->
    <section class="section pricing--inner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading primary-heading">
                        <h3 class="title">Pricing</h3>
                        <h5 class="subtitle"><span>Pricing Plan</span> <span>for you</span></h5>
                        <p>Members are proactive in both undertaking and applying animal welfare scientific research, contributing being a recognised organisation in animal welfare.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- pricing table inner start-->
        <div class="pricing-table--inner is--gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-6 col-12">
                        <!-- pricing item start-->
                        <div class="pricing-item">
                            <div class="row align-items-center">
                                <div class="col-lg-3">
                                    <h4 class="title">Solar Panel Installation</h4>
                                </div>
                                <div class="col-lg-5">
                                    <p class="description">[ Prepare for Installation Canthigaster rostrata  flounder ]</p>
                                </div>
                                <div class="col-lg-2"><span class="price">$ 585</span></div>
                                <div class="col-lg-2"><a class="button button--black" href="#" data-hover="Get started"><span>Get started</span></a>
                                </div>
                            </div>
                        </div>
                        <!-- pricing item end-->
                    </div>
                    <div class="col-lg-12 col-sm-6 col-12">
                        <!-- pricing item start-->
                        <div class="pricing-item">
                            <div class="row align-items-center">
                                <div class="col-lg-3">
                                    <h4 class="title">Windmill Installation</h4>
                                </div>
                                <div class="col-lg-5">
                                    <p class="description">[ Prepare for Installation Canthigaster rostrata  flounder ]</p>
                                </div>
                                <div class="col-lg-2"><span class="price">$ 630</span></div>
                                <div class="col-lg-2"><a class="button button--black" href="#" data-hover="Get started"><span>Get started</span></a>
                                </div>
                            </div>
                        </div>
                        <!-- pricing item end-->
                    </div>
                    <div class="col-lg-12 col-sm-6 col-12">
                        <!-- pricing item start-->
                        <div class="pricing-item active">
                            <div class="ribbon">
                                <svg class="icon">
                                    <use xlink:href="#star"></use>
                                </svg>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-lg-3">
                                    <h4 class="title">Global Energy Network</h4>
                                </div>
                                <div class="col-lg-5">
                                    <p class="description">[ Prepare for Installation Canthigaster rostrata  flounder ]</p>
                                </div>
                                <div class="col-lg-2"><span class="price">$ 720</span></div>
                                <div class="col-lg-2"><a class="button button--black" href="#" data-hover="Get started"><span>Get started</span></a>
                                </div>
                            </div>
                        </div>
                        <!-- pricing item end-->
                    </div>
                    <div class="col-lg-12 col-sm-6 col-12">
                        <!-- pricing item start-->
                        <div class="pricing-item">
                            <div class="row align-items-center">
                                <div class="col-lg-3">
                                    <h4 class="title">Sun Energy Analitics</h4>
                                </div>
                                <div class="col-lg-5">
                                    <p class="description">[ Prepare for Installation Canthigaster rostrata  flounder ]</p>
                                </div>
                                <div class="col-lg-2"><span class="price">$ 950</span></div>
                                <div class="col-lg-2"><a class="button button--black" href="#" data-hover="Get started"><span>Get started</span></a>
                                </div>
                            </div>
                        </div>
                        <!-- pricing item end-->
                    </div>
                </div>
            </div>
        </div>
        <!-- pricing table inner start -->
    </section>
    <!-- pricing-inner end-->
</main>
{% endblock content %}

