{% extends "base.html" %}


{% block content %}
<main class="main">
    <!-- promo primary start-->
    <section class="promo-primary">
        <div class="overlay"></div>
        <picture>
            <source srcset="{{ site.baseurl }}/assets/img/cases-details.jpg" media="(min-width: 992px)"/><img class="jarallax-img img-bg" src="{{ site.baseurl }}/assets/img/cases-details.jpg" alt="img"/>
        </picture>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="align-container">
                        <div class="align-item"><span>Orgone</span>
                            <h1 class="title">Renewable Energy Station</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- promo primary end-->
    <!-- cases details start-->
    <section class="section cases-details no-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7">
                    <!-- information block start-->
                    <div class="information-block">
                        <div class="title-block">
                            <h3 class="title">Information</h3>
                        </div>
                        <div class="information-details">
                            <div class="row">
                                <div class="col-sm-4 col-6">
                                    <div class="detail">
                                        <svg class="icon">
                                            <use xlink:href="#locationpin"></use>
                                        </svg><span>Cleveland, Ohio</span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="detail">
                                        <svg class="icon">
                                            <use xlink:href="#comment"></use>
                                        </svg><span>125 Reviews</span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-12">
                                    <div class="detail">
                                        <svg class="icon">
                                            <use xlink:href="#calendar"></use>
                                        </svg><span>Avainable in 5 days</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="information-content">
                            <p>Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder.</p>
                            <p>European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin: herring. Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish rohu yellow-and-black triplefin Atlantic saury swordfish southern</p>
                            <p>Scup stickleback Blobfish blue shark pumpkinseed Siamese fighting fish weeverfish. Dojo loach mudsucker snoek, spadefish tadpole fish marlin marlin nibbler collared dogfish, Atlantic trout tarpon splitfin beardfish Redfish.</p>
                        </div>
                    </div>
                    <!-- information block end-->
                    <!-- technical block start-->
                    <div class="technical-block">
                        <div class="row">
                            <div class="col-12">
                                <div class="title-block">
                                    <h3 class="title">Technical</h3>
                                </div>
                            </div>
                        </div>
                        <div class="technical-content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- technical item start-->
                                    <figure class="technical-item">
                                        <div class="img-holder">
                                            <svg class="icon">
                                                <use xlink:href="#modules"></use>
                                            </svg>
                                        </div>
                                        <figcaption><span class="title">Modules</span>
                                            <p>DUOMAX twin-DEG5C.07(II)</p>
                                        </figcaption>
                                    </figure>
                                    <!-- technical item end-->
                                </div>
                                <div class="col-sm-6">
                                    <!-- technical item start-->
                                    <figure class="technical-item">
                                        <div class="img-holder">
                                            <svg class="icon">
                                                <use xlink:href="#inverter"></use>
                                            </svg>
                                        </div>
                                        <figcaption><span class="title">Inverter</span>
                                            <p>DUOMAX-PEG5.07</p>
                                        </figcaption>
                                    </figure>
                                    <!-- technical item end-->
                                </div>
                                <div class="col-sm-6">
                                    <!-- technical item start-->
                                    <figure class="technical-item">
                                        <div class="img-holder">
                                            <svg class="icon">
                                                <use xlink:href="#warranty"></use>
                                            </svg>
                                        </div>
                                        <figcaption><span class="title">Warranty</span>
                                            <p>10 + 25 years</p>
                                        </figcaption>
                                    </figure>
                                    <!-- technical item end-->
                                </div>
                                <div class="col-sm-6">
                                    <!-- technical item start-->
                                    <figure class="technical-item">
                                        <div class="img-holder">
                                            <svg class="icon">
                                                <use xlink:href="#warranty"></use>
                                            </svg>
                                        </div>
                                        <figcaption><span class="title">Warranty</span>
                                            <p>10 years</p>
                                        </figcaption>
                                    </figure>
                                    <!-- technical item end-->
                                    <!-- technical block end-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- additional block start-->
                    <div class="additionals-block">
                        <div class="row">
                            <div class="col-12">
                                <div class="title-block">
                                    <h3 class="title">Additional Characteristic</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <!-- table start-->
                                <div class="primary-table characteristics-table">
                                    <div class="thead">
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h5 class="title">Name</h5>
                                            </div>
                                            <div class="table-cell">
                                                <h5 class="title">Value 1</h5>
                                            </div>
                                            <div class="table-cell">
                                                <h5 class="title">Value 2</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tbody">
                                        <div class="table-row">
                                            <div class="table-cell">Height</div>
                                            <div class="table-cell">72″</div>
                                            <div class="table-cell">72″</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">Height</div>
                                            <div class="table-cell">33″</div>
                                            <div class="table-cell">44″</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">Depth</div>
                                            <div class="table-cell">35″</div>
                                            <div class="table-cell">35″</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">Weight</div>
                                            <div class="table-cell">510 lbs.</div>
                                            <div class="table-cell">610 lbs.</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">Electrical</div>
                                            <div class="table-cell">115 VAC</div>
                                            <div class="table-cell">120 VAC</div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">Certifications</div>
                                            <div class="table-cell">UL</div>
                                            <div class="table-cell">CE</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- table end-->
                            </div>
                        </div>
                    </div>
                    <!-- additional block end-->
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-5">
                    <!-- recommendation block start-->
                    <div class="recommendation-block">
                        <div class="title-block">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="title">Our Recommendation</h4>
                                </div>
                            </div>
                        </div>
                        <div class="recommendation-details">
                            <div class="row">
                                <div class="col-lg-6 col-md-3 col-6">
                                    <!-- detail item start-->
                                    <div class="detail-item"><span class="title">Power</span>
                                        <p>4.86 kWp</p>
                                    </div>
                                    <!-- detail item end-->
                                </div>
                                <div class="col-lg-6 col-md-3 col-6">
                                    <!-- detail item start-->
                                    <div class="detail-item"><span class="title">Price</span>
                                        <p>$ 12.850</p>
                                    </div>
                                    <!-- detail item end-->
                                </div>
                                <div class="col-lg-6 col-md-3 col-6">
                                    <!-- detail item start-->
                                    <div class="detail-item"><span class="title">Yearly ouyput</span>
                                        <p>4.900 kWh</p>
                                    </div>
                                    <!-- detail item end-->
                                </div>
                                <div class="col-lg-6 col-md-3 col-6">
                                    <!-- detail item start-->
                                    <div class="detail-item"><span class="title">Monthly</span>
                                        <p>$ 120</p>
                                    </div>
                                    <!-- detail item end-->
                                </div>
                            </div>
                        </div>
                        <div class="product-details">
                            <div class="row">
                                <div class="col-12"><span class="title">Products</span>
                                    <p>DUOMAX twin-DEG5C.07(II), DUOMAX-PEG5.07</p>
                                </div>
                            </div>
                        </div>
                        <div class="saving-details">
                            <div class="row">
                                <div class="col-12"><span class="title">Savings</span>
                                    <p><span class="count">$ 24.900</span> / <span class="years">10</span> years</p>
                                </div>
                            </div>
                        </div>
                        <div class="button-holder">
                            <div class="row">
                                <div class="col-12"><a class="button button--transparent" href="#" data-hover="Contact Installer"><span>Contact Installer</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- recommendation block end-->
                </div>
            </div>
        </div>
    </section>
    <!-- cases details end-->
    <!-- project gallery start-->
    <section class="section project-gallery-section no-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading primary-heading">
                        <h5 class="subtitle"><span>Project</span> <span>Gallery</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <div class="project-gallery-holder">
                                    <div class="project-gallery"><a class="gallery-item" href="{{ site.baseurl }}/assets/img/ig-1.jpg" data-fancybox="project-gallery">
                    <div class="overlay"></div><img class="img-bg" src="{{ site.baseurl }}/assets/img/ig-1.jpg" alt="img"/></a><a class="gallery-item" href="{{ site.baseurl }}/assets/img/ig-2.jpg" data-fancybox="project-gallery">
                    <div class="overlay"></div><img class="img-bg" src="{{ site.baseurl }}/assets/img/ig-2.jpg" alt="img"/></a><a class="gallery-item" href="{{ site.baseurl }}/assets/img/ig-3.jpg" data-fancybox="project-gallery">
                    <div class="overlay"></div><img class="img-bg" src="{{ site.baseurl }}/assets/img/ig-3.jpg" alt="img"/></a><a class="gallery-item" href="{{ site.baseurl }}/assets/img/ig-4.jpg" data-fancybox="project-gallery">
                    <div class="overlay"></div><img class="img-bg" src="{{ site.baseurl }}/assets/img/ig-4.jpg" alt="img"/></a><a class="gallery-item" href="{{ site.baseurl }}/assets/img/ig-5.jpg" data-fancybox="project-gallery">
                    <div class="overlay"></div><img class="img-bg" src="{{ site.baseurl }}/assets/img/ig-5.jpg" alt="img"/></a><a class="gallery-item" href="{{ site.baseurl }}/assets/img/ig-6.jpg" data-fancybox="project-gallery">
                    <div class="overlay"></div><img class="img-bg" src="{{ site.baseurl }}/assets/img/ig-6.jpg" alt="img"/></a></div>
                    <div class="project-gallery-dots"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- project gallery end-->
    <!-- testimonials-primary start-->
    <section class="section testimonials testimonials--primary">
        <div class="slider-holder">
            <div class="wrapper">
                <div class="container">
                    <div class="row align-items-end">
                        <div class="col-xl-9 col-md-8">
                            <div class="testimonials-top">
                                <div class="quote-icon"><span>“ </span></div>
                                <div class="heading primary-heading">
                                    <h3 class="title">Testimonials</h3>
                                    <h5 class="subtitle"><span>People</span> <span>Says</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-4">
                            <div class="testimonials-dots"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">
                            <!-- testimonials slider start-->
                            <div class="testimonials-slider testimonials-primary-slider">
                                <!-- item start-->
                                <div class="slider-item">
                                    <p>Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin herring, Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish; rohu yellow-and-black triplefin Atlantic saury swordfish</p><span class="user"><span class="name">Sam Peters</span>, <span class="position">CEO Solar Systems LLC</span></span>
                                </div>
                                <!-- item end-->
                                <!-- item start-->
                                <div class="slider-item">
                                    <p>Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin herring, Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish; rohu yellow-and-black triplefin Atlantic saury swordfish</p>
                                    <p>Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin herring, Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish; rohu yellow-and-black triplefin Atlantic saury swordfish</p><span class="user"><span class="name">Sam Peters</span>, <span class="position">CEO Solar Systems LLC</span></span>
                                </div>
                                <!-- item end-->
                                <!-- item start-->
                                <div class="slider-item">
                                    <p>Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin herring, Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish; rohu yellow-and-black triplefin Atlantic saury swordfish</p><span class="user"><span class="name">Sam Peters</span>, <span class="position">CEO Solar Systems LLC</span></span>
                                </div>
                                <!-- item end-->
                            </div>
                            <!-- testimonials slider end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonials-primary end-->
    <!-- brands start-->
    <section class="section brands no-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- brands slider start-->
                    <div class="brands-holder">
                        <div class="brands-slider">
                            <!-- item start-->
                            <div class="slider-item"><img src="{{ site.baseurl }}/assets/img/brand-1.png" alt="brand"/></div>
                            <!-- item end-->
                            <!-- item start-->
                            <div class="slider-item"><img src="{{ site.baseurl }}/assets/img/brand-2.png" alt="brand"/></div>
                            <!-- item end-->
                            <!-- item start-->
                            <div class="slider-item"><img src="{{ site.baseurl }}/assets/img/brand-3.png" alt="brand"/></div>
                            <!-- item end-->
                            <!-- item start-->
                            <div class="slider-item"><img src="{{ site.baseurl }}/assets/img/brand-4.png" alt="brand"/></div>
                            <!-- item end-->
                            <!-- item start-->
                            <div class="slider-item"><img src="{{ site.baseurl }}/assets/img/brand-5.png" alt="brand"/></div>
                            <!-- item end-->
                        </div>
                        <div class="brands-dots"></div>
                    </div>
                    <!-- brands slider end-->
                </div>
            </div>
        </div>
    </section>
    <!-- brands end-->
</main>
{% endblock content %}

