<section class="section brands">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- brands slider start-->
                <div class="brands-holder">
                    <div class="brands-slider">
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/1.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/2.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/3.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/4.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/5.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/6.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/7.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/8.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/9.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/10.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/11.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/12.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/13.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/14.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/15.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/16.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/17.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/18.webp" alt="brand"/></div>
                        <!-- item end-->
                        <!-- item start-->
                        <div class="slider-item"><img src="{{ site.baseurl }}/assets/orgone/partners/19.webp" alt="brand"/></div>
                        <!-- item end-->
                    </div>
                    <div class="brands-dots"></div>
                </div>
                <!-- brands slider end-->
            </div>
        </div>
    </div>
</section>