<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- logo start-->
                    <div class="footer-logo"><a class="logo" href="{{ site.baseurl }}/">
                        <img src="{{ site.baseurl }}/assets/img/logo.png" class="footer_logo" alt="">
                        <span>Orgone</span></a></div>
                    <!-- logo end-->
                    <!-- footer contacts start-->
                    <div class="footer-contacts">
                        <p class="address"><b><u>KADUNA</u></b><br/>AN5 Junction Road, By kazaure Road Close to Lagos Street Roundabout, Ahmadu Bello Way, Kaduna</p>
                        <br/>
                        <p class="address"><b><u>ABUJA</u></b><br/>First Floor, Suite 10 Kingfem GA247, Suite 1010, Plot 264&1096 Ahmadu Bello Way, Mabushi, FCT-Abuja</p>
                        <br/>
                        <p class="phone-number">PHONE: <a href="tel:+2349025222285">+234 902 522 2285 | +234 815 476 6466</a></p>
                        <p class="e-main">EMAIL: <a href="mailto:info@orgone.work">info@orgone.work</a></p>
                    </div>
                    <!-- footer contacts end-->
                </div>
                <div class="col-lg-4 offset-lg-0 col-md-7 offset-md-1">
                    <h4 class="title">Company and Links</h4>
                    <!-- footer nav start-->
                    <nav class="footer-nav">
                        <ul class="footer-menu">
                            <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
                            <li><a href="{{ site.baseurl }}/product_cataloge/">Shop</a></li>
                            <li><a href="{{ site.baseurl }}/project/">Projects</a></li>
                            <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
                            <li><a href="{{ site.baseurl }}/services/">Services</a></li>
                            <li><a href="{{ site.baseurl }}/gallary/">Photo Gallery</a></li>
                            <li><a href="{{ site.baseurl }}/about/">About Us</a></li>
                            <li><a href="{{ site.baseurl }}/contact/">Contacts</a></li>
                        </ul>
                    </nav>
                    <!-- footer nav end-->
                </div>
                <div class="col-md-4 d-lg-none">
                    <!-- socials start-->
                    <nav class="socials-holder socials-tablet">
                        <ul class="socials-primary">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </nav>
                    <!-- socials end -->
                </div>
                <div class="col-lg-4 offset-lg-0 col-md-7 offset-md-1">
                    <!-- footer subscribe start-->
                    <div class="footer-subscribe">
                        <h4 class="title">Subscribe</h4>
                        <form class="subscribe-form" action="javascript:void(0);">
                            <input class="input-mail" type="email" placeholder="Email"/>
                            <button class="button button--filled" type="submit" data-hover="Subscribe"><span>Subscribe</span></button>
                        </form>
                        <!-- socials start-->
                        <nav class="socials-holder socials-mobile d-md-none">
                            <ul class="socials-primary">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </nav>
                        <!-- socials end -->
                    </div>
                    <!-- footer subscribe end-->
                </div>
            </div>
        </div>
    </div>
    <div class="container">               
        <div class="row">
            <div class="col-12">
                <div class="footer-lower">
                    <div class="row align-items-baseline">
                        <div class="col-lg-4 col-md-6">
                            <p class="copyright">© {{ site.time | date: "%Y" }} EMTS. All right reserved</p>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!-- privacy start-->
                            <div class="privacy-block"><a href="#">Privacy Policy <span class="separator">|</span> </a><a href="#">Term and conditions</a></div>
                            <!-- privacy end-->
                        </div>
                        <div class="col-lg-4 col-md-6"> 
                            <!-- socials start-->
                            <nav class="socials-holder socials-desktop">
                                <ul class="socials-primary">
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </nav>
                            <!-- socials end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>